<%= simple_form_for(@structure_assurance, html: {class: 'form-horizontal'},  wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }) do |f| %>
    <%= f.error_notification %>

    <!--<div class="form-inputs">-->
    <%= f.input :nom %>
    <%= f.input :adresse %>
    <%= f.input :date_adhesion, as: :date_picker %>
    <%= f.input :numero_agrement %>
    <%= f.input :logo %>
    <%= f.input :couleur, as: :minicolors %>
    <!--</div>-->

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>
