<%= simple_form_for(@adherent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nom %>
    <%= f.input :prenom %>
    <%= f.input :status_matrimonial %>
    <%= f.input :date_de_naissance %>
    <%= f.input :lieu_de_naissance %>
    <%= f.input :adresse %>
    <%= f.input :telephone1 %>
    <%= f.input :telephone2 %>
    <%= f.input :email %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :status %>
    <%= f.input :payer %>
    <%= f.input :last_activation %>
    <%= f.input :last_suspension %>
    <%= f.input :last_delete %>
    <%= f.input :paiement_date %>
    <%= f.input :montant_cotisation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
