<p id="notice"><%= notice %></p>

<h1>Listing Adherents</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Status matrimonial</th>
      <th>Date de naissance</th>
      <th>Telephone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adherents.each do |adherent| %>
      <tr>
        <td><%= adherent.matricule %></td>
        <td><%= adherent.full_name %></td>
        <td><%= adherent.status_matrimonial %></td>
        <td><%= adherent.date_de_naissance %></td>
        <td><%= adherent.telephone1 %></td>
        <td><%= adherent.status %></td>
        <td><%= link_to 'Show', adherent %></td>
        <td><%= link_to 'Edit', edit_adherent_path(adherent) %></td>
        <td><%= link_to 'Destroy', adherent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adherent', new_adherent_path %>
